h1 {font-family: Palatino, 'Palatino Linotype', sans-serif;
	font-size: 72px; 
	color: white;
	opacity: 0.8;
	font-weight: 100;
}

p {font-family: Palatino, 'Palatino Linotype', sans-serif;
 	font-size: 24px;
	color: #ffffff;
	text-align: center;
	float: center;
}


body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	background-image: url(bg.jpg);
	background-color: #0b0b0b;
	background-size: cover; 
	background-position: center;
	background-repeat: repeat;
}

nav {
	top: -80px;
	position: fixed;
	width: 100%;
	height: 100px;
	opacity: 0.95;
	font-family: Palatino, 'Palatino Linotype', sans-serif;
	font-size: 24px;
	background-color: #0b0b0b;
}
.logonav {
	padding: 5px;
}

.dropbtn {
	background-color: #0b0b0b
	color: white;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	font-size: 20px;
	display: none;
	position: absolute;
	background-color: #0b0b0b;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: white
	padding: 8px 12px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover { background-color: #000000}

.dropdown:hover .dropdown-content {
	display: block;
}

nav li {
	margin: auto;
	float: left;
	display: inline;
	}

nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	}

a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: #f26522
}
.main {
	padding: 300px;
	border: 0px;
	margin: 0px;

}

.menuclose {
	float: center; 
}

nav {
	transition-property: top;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}
nav:hover {
	top: 0px;
}

.link {
	border-style: none none solid none22:27 15/08/2016;
	border-radius: 2px;
	border-color: #ffffff;
}
.main-video {
	padding: 110px;
}
