h1 {font-family: Palatino, 'Palatino Linotype', sans-serif;
	font-size: 72px; 
	color: white;
	opacity: 0.8;
	font-weight: 100;
}

p {font-family: Palatino, 'Palatino Linotype', sans-serif;
 	font-size: 24px;
	color: #ffffff;
	text-align: center;
	float: center;
}


body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	background-image: url(bg.jpg);
	background-color: #0b0b0b;
	background-size: 1920px 1080px;
	background-repeat: repeat;
}

nav {
	top: -80px;
	position: fixed;
	width: 100%;
	height: 100px;
	opacity: 0.95;
	font-family: Palatino, 'Palatino Linotype', sans-serif;
	font-size: 24px;
	background-color: #0b0b0b;
}
.logonav {
	padding: 5px;
}
nav li {
	margin: auto;
	float: left;
	display: inline;
	}

nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	}

a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: #f26522
}
.main {
	padding: 300px;
	border: 0px;
	margin: 0px;

}

.menuclose {
	float: center; 
}

nav {
	transition-property: top;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}
nav:hover {
	top: 0px;
}
